{{ 'affiliates.css' | asset_url | stylesheet_tag }}
{% if product.metafields.my_fields.amazon_affiliate != blank %}
<div class="affiliatesBadge">
  <p class="product__text caption-with-letter-spacing" style="margin-bottom:5px;">Available at:</p>
<a href="{{ product.metafields.my_fields.amazon_affiliate }}" class="mobile_external" target="_blank" style="text-decoration: none; color: black;">
    <span class="product__text caption-with-letter-spacing" style="margin-right:1rem">
     Amazon UK</span></a>
{% if product.metafields.my_fields.de_amazon_affiliate != blank %}
<a href="{{ product.metafields.my_fields.de_amazon_affiliate }}" class="mobile_external" target="_blank" style="text-decoration: none; color: black;">
    <span class="product__text caption-with-letter-spacing" style="margin-right:1rem">Amazon DE</span></a>
{% endif %}
{% if product.metafields.my_fields.fr_amazon_affiliate != blank %}
<a href="{{ product.metafields.my_fields.fr_amazon_affiliate }}" class="mobile_external" target="_blank" style="text-decoration: none; color: black;">
    <span class="product__text caption-with-letter-spacing" style="margin-right:1rem">Amazon FR</span></a>   
{% endif %}
</div>
{% endif %}