{{ 'affiliates.css' | asset_url | stylesheet_tag }}

<div class="affiliatesBadge" style="display:none">
<p class="product__text caption-with-letter-spacing">Available at:</p>
<span class="product__text caption-with-letter-spacing">
<img src="https://cdn.shopify.com/s/files/1/0219/0638/t/21/assets/favicon_amazon.ico?v=1629853280" class="affiliateLogo">AMAZON</span>
<span class="product__text caption-with-letter-spacing">
<img src="https://cdn.shopify.com/s/files/1/0219/0638/t/21/assets/favicon_bestbuy.ico?v=1629853307" class="affiliateLogo">BEST BUY</span>
    
</div>