{% if product.handle == "lifx-string-light" %}

{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}
  
<div class="image-with-text page-width color-scheme-background-1">
  <div class="image-with-text__grid color-background-1 grid grid--gapless grid--1-col grid--2-col-tablet gradient">
    <div class="grid__item">
      <div class="image-with-text__media image-with-text__media--adapt media" style="padding-bottom: 100.0%;">
        
        <video muted autoplay playsinline loop style="width: 100%; height: 100%;object-fit: cover;" class="videoFox">
    <source src="https://cdn.shopify.com/videos/c/o/v/ad4e399c812c40a582f14503c7f8bda6.mp4" type="video/mp4" alt="{{ 'sections.video.load_video' | t: description: section.settings.description | escape }}">
</video>
      </div>
    </div>
    <div class="grid__item">
      <div class="image-with-text__content image-with-text__content--{{ section.settings.height }}">
        
              <h2 class="image-with-text__heading h1" {{ block.shopify_attributes }}>
                Heading
              </h2>
       
              <div class="product__description rte">
               Description Description Description
              </div>       
     
        
      </div>
    </div>
  </div>
</div>
  {% endif%}