{{ 'scroller.css' | asset_url | stylesheet_tag }}

<div class="scroll text-1">
  <div>
    
      <span class="pdp-marquee__text">get the lights from bed when you’re comfy</span>
      <p class="pdp-marquee__ellipse">/</p> 
    
      <span class="pdp-marquee__text">flash the bat signal when you need help</span>
      <p class="pdp-marquee__ellipse">/</p> 
    
      <span class="pdp-marquee__text">get the party going</span>
      <p class="pdp-marquee__ellipse">/</p> 
    
      <span class="pdp-marquee__text">become a bedtime story master</span>
      <p class="pdp-marquee__ellipse">/</p> 
     
  </div>
  <div>
    
      <span class="pdp-marquee__text">get the lights from bed when you’re comfy</span>
      <p class="pdp-marquee__ellipse">/</p> 
    
      <span class="pdp-marquee__text">flash the bat signal when you need help</span>
      <p class="pdp-marquee__ellipse">/</p> 
    
      <span class="pdp-marquee__text">get the party going</span>
      <p class="pdp-marquee__ellipse">/</p> 
    
      <span class="pdp-marquee__text">become a bedtime story master</span>
      <p class="pdp-marquee__ellipse">/</p>
     
  </div>
</div>

