<div id="shopify-section-16261098162a388779" class="shopify-section"><style>
    .pdp-marquee {
      background-color:#121216;
      color: #EB7BDD
    }
    
    .pdp-marquee__ellipse {
        color: #EB7BDD 
    }
.pdp-marquee {
  background-color:#121216;
  padding: 16px 0;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap; }
  @media screen and (min-width: 750px) {
    .pdp-marquee {
      font-size: 20px;
      line-height: 28px;
      padding: 24px 0; } }
  .pdp-marquee__ellipse {
    display: inline-block;
    margin: 5px 24px; }
  .pdp-marquee .marq-1 {
    display: inline-block;
    -webkit-animation: marquee 20s linear infinite;
            animation: marquee 20s linear infinite; }
  .pdp-marquee .marq-2 {
    display: inline-block;
    -webkit-animation: marquee2 20s linear infinite;
            animation: marquee2 20s linear infinite;
    -webkit-animation-delay: 10s;
            animation-delay: 10s; }

.scroll {
  width: 100%;
  display: flex;
  background: #121216; }
  .scroll div {
    color: #EB7BDD;
    background: #121216;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    white-space: nowrap;
    -webkit-animation: scroll1 30s linear infinite;
            animation: scroll1 30s linear infinite;
    -webkit-animation-delay: -40s;
            animation-delay: -40s;
    padding: 24px 0; }
    .scroll div:nth-child(2) {
      -webkit-animation: scroll2 30s linear infinite;
              animation: scroll2 30s linear infinite;
      -webkit-animation-delay: -25s;
              animation-delay: -25s; }
    .scroll div span {
      font-weight: 100; }
  .scroll:nth-child(even) div {
    animation-direction: reverse; }
    .scroll:nth-child(even) div:nth-child(2) {
      animation-direction: reverse; }

.scroll.text-1 {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }

@-webkit-keyframes scroll1 {
  0% {
    transform: translate(100%); }
  100% {
    transform: translate(-100%); } }

@keyframes scroll1 {
  0% {
    transform: translate(100%); }
  100% {
    transform: translate(-100%); } }

@-webkit-keyframes scroll2 {
  0% {
    transform: translate(0); }
  100% {
    transform: translate(-200%); } }

@keyframes scroll2 {
  0% {
    transform: translate(0); }https://lifxaustralia.myshopify.com/admin/auth/login?accountnumber=0
  100% {
    transform: translate(-200%); } }
</style>

<div class="scroll text-1">
  <div>
    
      <span class="pdp-marquee__text">get the lights from bed when you’re comfy</span>
      <p class="pdp-marquee__ellipse">/</p> 
    
      <span class="pdp-marquee__text">flash the bat signal when you need help</span>
      <p class="pdp-marquee__ellipse">/</p> 
    
      <span class="pdp-marquee__text">get the party going</span>
      <p class="pdp-marquee__ellipse">/</p> 
    
      <span class="pdp-marquee__text">become a bedtime story master</span>
      <p class="pdp-marquee__ellipse">/</p> 
     
  </div>
  <div>
    
      <span class="pdp-marquee__text">get the lights from bed when you’re comfy</span>
      <p class="pdp-marquee__ellipse">/</p> 
    
      <span class="pdp-marquee__text">flash the bat signal when you need help</span>
      <p class="pdp-marquee__ellipse">/</p> 
    
      <span class="pdp-marquee__text">get the party going</span>
      <p class="pdp-marquee__ellipse">/</p> 
    
      <span class="pdp-marquee__text">become a bedtime story master</span>
      <p class="pdp-marquee__ellipse">/</p>
     
  </div>
</div>

</div>