<style>
.productFamily {
border: 1px solid;
border-radius: 50px;
color: #000;
display: inline-block;
margin-top: 5px;
padding: 10px 20px 10px 20px;
font-size: 1.4rem;
letter-spacing: .1rem;
line-height: 1;
text-align: center;
}
.productFamily:hover{
color: #FFF;
background-color:#000
}
</style>

{% if product.handle != "lifx-colour-e27" %}
<a href="/products/lifx-colour-e27"><p class="productFamily" >E27 1-Pack</p></a>
{% endif %}

{% if product.handle != "lifx-colour-e27-2-pack" %}
<a href="/products/lifx-colour-e27-2-pack"><p class="productFamily" >E27 2-Pack</p></a>
{% endif %}

{% if product.handle != "lifx-colour-b22" %}
<a href="/products/lifx-colour-b22"><p class="productFamily" >B22 1-Pack</p></a>
{% endif %}

{% if product.handle != "lifx-colour-b22-2-pack" %}
<a href="/products/lifx-colour-b22-2-pack"><p class="productFamily" >B22 2-Pack</p></a>
{% endif %}