<style>
.productFamily {
border: 1px solid;
border-radius: 50px;
color: #000;
display: inline-block;
margin-top: 5px;
margin-bottom: 0px;
padding: 10px 20px 10px 20px;
font-size: 1.4rem;
letter-spacing: .1rem;
line-height: 1;
text-align: center;
margin-right:6px;
}
.productFamily:hover{
color: #FFF;
background-color:#000
}
</style>

{% if product.metafields.my_fields.product_family == "Colour" %}

  {% if product.handle != "lifx-colour-e27" %}
  <a href="/products/lifx-colour-e27"><p class="productFamily" >E27 1-Pack</p></a>
  {% endif %}

  {% if product.handle != "lifx-colour-e27-2-pack" %}
  <a href="/products/lifx-colour-e27-2-pack"><p class="productFamily" >E27 2-Pack</p></a>
  {% endif %}

  {% if product.handle != "lifx-colour-b22" %}
  <a href="/products/lifx-colour-b22"><p class="productFamily" >B22 1-Pack</p></a>
  {% endif %}

  {% if product.handle != "lifx-colour-b22-2-pack" %}
  <a href="/products/lifx-colour-b22-2-pack"><p class="productFamily" >B22 2-Pack</p></a>
  {% endif %}

{% elsif product.metafields.my_fields.product_family == "White to Warm" %}

  {% if product.handle != "lifx-white-to-warm-e27" %}
  <a href="/products/lifx-white-to-warm-e27"><p class="productFamily" >E27 1-Pack</p></a>
  {% endif %}

  {% if product.handle != "lifx-white-to-warm-e27-2-pack" %}
  <a href="/products/lifx-white-to-warm-e27-2-pack"><p class="productFamily" >E27 2-Pack</p></a>
  {% endif %}

  {% if product.handle != "lifx-white-to-warm-b22" %}
  <a href="/products/lifx-white-to-warm-b22"><p class="productFamily" >B22 1-Pack</p></a>
  {% endif %}

  {% if product.handle != "lifx-white-to-warm-b22-2-pack" %}
  <a href="/products/lifx-white-to-warm-b22-2-pack"><p class="productFamily" >B22 2-Pack</p></a>
  {% endif %}

{% elsif product.metafields.my_fields.product_family == "White" %}

  {% if product.handle != "lifx-white-e27" %}
  <a href="/products/lifx-white-e27"><p class="productFamily" >E27 1-Pack</p></a>
  {% endif %}

  {% if product.handle != "lifx-white-e27-2-pack" %}
  <a href="/products/lifx-white-e27-2-pack"><p class="productFamily" >E27 2-Pack</p></a>
  {% endif %}

  {% if product.handle != "lifx-white-b22" %}
  <a href="/products/lifx-white-b22"><p class="productFamily" >B22 1-Pack</p></a>
  {% endif %}

  {% if product.handle != "lifx-white-b22-2-pack" %}
  <a href="/products/lifx-white-b22-2-pack"><p class="productFamily" >B22 2-Pack</p></a>
  {% endif %}

{% elsif product.metafields.my_fields.product_family == "Candle Colour" or product.metafields.my_fields.product_family == "Candle White to Warm"%}

  {% if product.handle != "lifx-candle-colour-e14" %}
  <a href="/products/lifx-candle-colour-e14"><p class="productFamily" >E14 Colour</p></a>
  {% endif %}

  {% if product.handle != "lifx-candle-colour-b15" %}
  <a href="/products/lifx-candle-colour-b15"><p class="productFamily" >B15 Colour</p></a>
  {% endif %}

  {% if product.handle != "lifx-candle-white-to-warm-e14" %}
  <a href="/products/lifx-candle-white-to-warm-e14"><p class="productFamily" >E14 White to Warm</p></a>
  {% endif %}

{% elsif product.metafields.my_fields.product_family == "Colour A60" %}

  {% if product.handle != "lifx-colour-a60-e27" %}
  <a href="/products/lifx-colour-a60-e27"><p class="productFamily" >E27 1-Pack</p></a>
  {% endif %}

  {% if product.handle != "lifx-colour-a60-e27-2-pack" %}
  <a href="/products/lifx-colour-a60-e27-2-pack"><p class="productFamily" >E27 2-Pack</p></a>
  {% endif %}

  {% if product.handle != "lifx-colour-a60-b22" %}
  <a href="/products/lifx-colour-a60-b22"><p class="productFamily" >B22 1-Pack</p></a>
  {% endif %}

  {% if product.handle != "lifx-colour-a60-b22-2-pack" %}
  <a href="/products/lifx-colour-a60-b22-2-pack"><p class="productFamily" >B22 2-Pack</p></a>
  {% endif %}

{% elsif product.metafields.my_fields.product_family == "Nightvision" %}

  {% if product.handle != "lifx-nightvision-a60-e27" %}
  <a href="/products/lifx-nightvision-a60-e27"><p class="productFamily" >E27 1-Pack</p></a>
  {% endif %}

  {% if product.handle != "lifx-nightvision-a60-e27-2-pack" %}
  <a href="/products/lifx-nightvision-a60-e27-2-pack"><p class="productFamily" >E27 2-Pack</p></a>
  {% endif %}

  {% if product.handle != "lifx-nightvision-a60-b22" %}
  <a href="/products/lifx-nightvision-a60-b22"><p class="productFamily" >B22 1-Pack</p></a>
  {% endif %}

  {% if product.handle != "lifx-nightvision-a60-b22-2-pack" %}
  <a href="/products/lifx-nightvision-a60-b22-2-pack"><p class="productFamily" >B22 2-Pack</p></a>
  {% endif %}

{% elsif product.metafields.my_fields.product_family == "Clean" %}

  {% if product.handle != "lifx-clean-a60-e27" %}
  <a href="/products/lifx-clean-a60-e27"><p class="productFamily" >E27 1-Pack</p></a>
  {% endif %}

  {% if product.handle != "lifx-clean-a60-e27-2-pack" %}
  <a href="/products/lifx-clean-a60-e27-2-pack"><p class="productFamily" >E27 2-Pack</p></a>
  {% endif %}

  {% if product.handle != "lifx-clean-a60-b22" %}
  <a href="/products/lifx-clean-a60-b22"><p class="productFamily" >B22 1-Pack</p></a>
  {% endif %}

  {% if product.handle != "lifx-clean-a60-b22-2-pack" %}
  <a href="/products/lifx-clean-a60-b22-2-pack"><p class="productFamily" >B22 2-Pack</p></a>
  {% endif %}

<!-- if collections.frontpage.products contains 4 products -->
{% for product in collections.clean.products %}

  <p class="productFamily" style="display:none">{{ variant.title }}</p>
{% endfor %}


{% elsif product.metafields.my_fields.product_family == "Lightstrip" %}

  {% if product.handle != "lifx-lightstrip-2m" %}
  <a href="/products/lifx-lightstrip-2m"><p class="productFamily" >2m Kit</p></a>
  {% endif %}

  {% if product.handle != "lifx-lightstrip-1m" %}
  <a href="/products/lifx-lightstrip-1m"><p class="productFamily" >1m Kit</p></a>
  {% endif %}

  {% if product.handle != "lifx-lightstrip-extension-1m" %}
  <a href="/products/lifx-lightstrip-extension-1m"><p class="productFamily" >1m Extension</p></a>
  {% endif %}

{% endif %}