{{ 'scroller.css' | asset_url | stylesheet_tag }}

<div class="scroll text-1">
  <div>
    
      <span class="pdp-marquee__text">get the lights from bed when you’re comfy</span>
      <p class="pdp-marquee__ellipse">/</p> 
    
      <span class="pdp-marquee__text">flash the bat signal when you need help</span>
      <p class="pdp-marquee__ellipse">/</p> 
    
      <span class="pdp-marquee__text">get the party going</span>
      <p class="pdp-marquee__ellipse">/</p> 
    
      <span class="pdp-marquee__text">become a bedtime story master</span>
      <p class="pdp-marquee__ellipse">/</p> 
     
  </div>
  <div>
    
      <span class="pdp-marquee__text">get the lights from bed when you’re comfy</span>
      <p class="pdp-marquee__ellipse">/</p> 
    
      <span class="pdp-marquee__text">flash the bat signal when you need help</span>
      <p class="pdp-marquee__ellipse">/</p> 
    
      <span class="pdp-marquee__text">get the party going</span>
      <p class="pdp-marquee__ellipse">/</p> 
    
      <span class="pdp-marquee__text">become a bedtime story master</span>
      <p class="pdp-marquee__ellipse">/</p>
     
  </div>
</div>




{% schema %}

{
  "name": "t:sections.scroller.name",
  "class": "spaced-section spaced-section--full-width",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "tagline1",
      "default": "Tagline",
      "label": "t:sections.scroller.settings.tagline1.label"
    },
    {
      "type": "text",
      "id": "tagline2",
      "default": "Tagline",
      "label": "t:sections.scroller.settings.tagline2.label"
    },
    {
      "type": "text",
      "id": "tagline3",
      "default": "Tagline",
      "label": "t:sections.scroller.settings.tagline3.label"
    },
    {
      "type": "text",
      "id": "tagline4",
      "default": "Tagline",
      "label": "t:sections.scroller.settings.tagline4.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.scroller.presets.name"
    }
  ]
}
  {% endschema %}
