{{ 'video-section.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}

<div class="video-section{% unless section.settings.full_width %} page-width{% endunless %}">
  <div{% if section.settings.full_width %} class="page-width"{% endif %}>
    <h2 class="title">{{ section.settings.heading }}</h2>
  </div>


<video muted autoplay playsinline loop style="width: -webkit-fill-available;">
    <source src="https://hosted.lifx.co/videos/1_Meet_LIFX_Clean_Video_US.mp4" type="video/mp4">
</video>
</div>

{% schema %}
{
  "name": "t:sections.videoAutoLoop.name",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Video",
      "label": "t:sections.videoAutoLoop.settings.heading.label"
    },
	{
      "type": "text",
      "id": "video",
      "label": "t:sections.videoAutoLoop.settings.video.label",
      "info": "t:sections.videoAutoLoop.settings.video.info"
    },
    {
      "type": "text",
      "id": "description",
      "label": "t:sections.videoAutoLoop.settings.description.label",
      "info": "t:sections.videoAutoLoop.settings.description.info"
    }
  ],
  "presets": [
    {
      "name": "t:sections.videoAutoLoop.presets.name"
    }
  ]
}
  {% endschema %}
