.productFamily {
border: 1px solid;
border-radius: 50px;
color: #000;
display: inline-block;
margin-top: 5px;
margin-bottom: 0px;
padding: 10px 20px 10px 20px;
font-size: 1.4rem;
letter-spacing: .1rem;
line-height: 1;
text-align: center;
margin-right:6px;
}
.productFamily:hover{
color: #FFF;
background-color:#000
}
.variantSoldOut{
cursor: not-allowed;
opacity: .5;
}
