.hide {
    opacity:0;
    left:-100%;
}
.show {
    opacity:1;
    left:0;
}
@media screen and (min-width: 735px) {
.topBuyButton {
	position: fixed;
	top:146;
  	background: #fff;
  	width: -webkit-fill-available;
  	max-height: 118px;
  	width:100%; 
  	z-index:2;
    border-top: #e4e4e9;
    border-top-style: solid;
    border-top-width: thin;
}
}
@media screen and (max-width: 736px) {
.topBuyButtonHide {
	display:none!important;
}
}
@media screen and (max-width: 735px) {
.bottomBuyButton {
	position:fixed;
  	background: #fff;
  	width: -webkit-fill-available;
  	max-height: 118px;
	bottom:0px;
  	width:100%; 
  	z-index:2;
    border-top: #e4e4e9;
    border-top-style: solid;
    border-top-width: thin;
}
}
@media screen and (min-width: 736px) {
.bottomBuyButtonHide {
	display:none!important;
}
}
@media screen and (max-width: 735px) {
.mainBuyButton{
	display:none;
}
}
}
